body {
  background: radial-gradient(
    circle at 3.1% 8.2%,
    rgb(248, 250, 107) 0%,
    rgb(238, 148, 148) 98.2%
  );
}
h1 {
  color: #4a2c2c;
  text-align: left;
  font-size: 30px;
  margin-top: 0;
}
h2 {
  text-align: center;
  color: #773838;
  font-size: 22px;
}
img {
  display: block;
  margin: 0 auto;
  border-radius: 14px;
  max-width: 70%;
}
h3 {
  text-align: left;
  margin: 25px 0px 15px;
  font-weight: bolder;
  color: #4a2c2c;
  font-size: 42px;
}
p {
  font-size: 15px;
  line-height: 18px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  margin: 0px auto;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}
