body {
  background: radial-gradient(
    circle at 3.1% 8.2%,
    rgb(248, 250, 107) 0%,
    rgb(238, 148, 148) 98.2%
  );
}
h1 {
  color: #4a2c2c;
  text-align: center;
  font-size: 5vw;
  margin-top: 0;
  vertical-align: bottom;
}
h2 {
  text-align: center;
  color: #773838;
  font-size: 2vw;
}
img,
#sourceLink {
  display: block;
  margin: 0 auto;
  border-radius: 14px;
  max-width: 70%;
}
#icon {
  vertical-align: top;
  width: 12vw;
}
h3 {
  text-align: left;
  margin: 25px 0px 15px;
  font-weight: bolder;
  color: #4a2c2c;
  font-size: 42px;
}
p {
  font-size: 15px;
  line-height: 18px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  margin: 0px auto;
}
.container {
  margin: 0 auto;
  padding: 20px;
}
.temperature {
  color: #773838;
  font-size: 7.5vw;
  text-align: right;
}
#city-name {
  font-size: 7vw;
  text-align: left;
  padding-right: 0.1em;
  font-weight: bolder;
  color: #4a2c2c;
}
.week-forecast {
  margin-top: 20px;
  text-align: center;
  color: #4a2c2c;
}
.week-forecast-date {
  font-size: 1.5vw;
  opacity: 0.7;
}
.week-forecast-temps {
  font-size: 13px;
}
.week-forecast-temp-min {
  opacity: 0.6;
}
.cell {
  font-size: 2vw;
  margin: 0;
  opacity: 0.8;
}
.feels-like {
  margin-left: 2.5vw;
  text-align: right;
}
